@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Oswald&family=Outfit&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

ul li a{
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color:rgb(248, 248, 248)
}
img{
    width: auto;
    max-width: 100%;
    border-radius: 8px;
}
.sub-titulo span{
    font-family: 'Francois One', sans-serif;
    font-size: 1.8rem;
    border-bottom: 5px solid #d00000;
}
.name{
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
}
.precio-tachado{
    display: inline-block;
    text-decoration:line-through;
    color:rgb(71, 71, 80)
}
.precio-más-bajo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.precio-final{
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color:#c50707f3;
}
.precio-original{
    margin-top: 67px;
    font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color:#007bff;
}
h2{ 
    font-family: 'Roboto Slab', serif;
    font-size: 25px;
}
.info-form p{
    font-family: 'Roboto Slab', serif;
}
.info-form a{
    font-family: 'Roboto Slab', serif;
}
.contenedor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid #d00000;
    border-bottom: 5px solid #d00000;
}
.titulos{
    font-family: 'Francois One', sans-serif;
    font-size: 50px;
}
.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
    margin-bottom: 90px;
}
.container-form h2{
    margin-bottom: 15px;
    font-size: 35px;
}
.container-form p{
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}
.container-form a i{
    color: #d00000;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #d00000;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.container-form .btn-reset {
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: #d00000;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.newsletter {
    font-family: roboto;
    font-size: 16px;
}